<!-- templates/500.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>500 Internal Server Error</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5 text-center">
        <h1 class="display-4">500</h1>
        <h2>Internal Server Error</h2>
        <p class="lead">The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>
        <a href="{{ url_for('main') }}" class="btn btn-primary">Return to Home</a>
    </div>
</body>

</html>
